.LotCard {
    padding: 8px;
    border-radius: 4px;
}

.LotCard__title {
    margin: 4px 0;
    font-weight: normal;
}

.LotCard__price {
    font-size: 16px;
    margin-top: 4px;
}

.LotCard__bid {
    font-size: 16px;
    font-weight: bold;
    margin-top: 4px;
    padding: 2px;
    border-radius: 4px;
    background-color: var(--accent, dodgerblue);
    color: white;
}

.LotCard__biddingEnd {
    margin-top: 4px;
    color: orangered;
    font-size: 13px;
    font-weight: bold;
}

.LotCard__status {
    padding: 2px;
    border-radius: 4px;
    margin-top: 4px;
}