.Lot {
    --padding: 0 16px;
    text-align: left;
}

.Lot__title {
    padding: var(--padding);
    margin: 6px 0;
}

.Lot__image {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Lot__priceStart {
    margin-top: 6px;
    font-weight: bold;
    padding: var(--padding);
}

.Lot__biddingEnd {
    margin-top: 6px;
    color: orange;
    padding: var(--padding);
    font-weight: bold;
}

.Lot__description {
    margin-top: 6px;
    padding: var(--padding);
}

.UserLot {
    --padding: 0 16px;
    padding: var(--padding);
    text-align: left;
}

.UserLot__title {
    padding: var(--padding);
    margin: 6px 0;
}


.UserLot__image {
    display: flex;
    justify-content: center;
    width: 100%;
}

.UserLot__description {
    padding: var(--padding);
}

.UserLot__price {
    padding: var(--padding);
    margin-top: 6px;
}

.UserLot__priceStart {
    padding: var(--padding);
    font-weight: bold;
    margin-top: 6px;
}

.UserLot__biddingEnd {
    margin-top: 6px;
    color: orange;
    padding: var(--padding);
    font-weight: bold;
}

.UserLot__buttons {
    margin-top: 6px;
    padding: var(--padding);
}